footer {
  background-color: #FFF;
  width: 100%;
  min-width: 980px;
  height: auto;
  position: relative;
  overflow: auto;
}

ul {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #dddfe2;
}

ul li {
  list-style: none;
  display: inline-block;
  margin-right: 8.5px;
  font-family: 'Open Sans';
  font-size: 0.72rem;
}

ul li.en {
  color: #737373;
}

ul li.plus {
  background-color: #f6f7f9;
  border: 1px solid #ced0d4;
  color: #4b4f56;
  padding: 0 8px;
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 1.2rem;
  font-family: 'Muli';
}

div.content {
  margin-bottom: 20px;
}

tr {
  text-align: justify;
}

td {
  font-family: 'Open Sans';
  font-size: 0.72rem;
  padding: 2px 10px 0 0;
  width: 75px;
}

p.copyright {
  color: #737373;
  font-size: 0.68rem;
  margin-bottom: 20px;
}
