* {
  margin: 0;
  outline: 0;
  padding: 0;
  border: none;
}

html {
  font-size: 16px;
}

p, button, input, h2, h3, h5 {
  font-family: 'Open Sans';
}

a {
  color: #365899;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

input {
  border: 1px solid rgb(29, 42, 91);
  margin: 5px 0;
  height: 20px;
  font-size: 0.75rem;
}

.wrapper {
  box-sizing: border-box;
  padding-top: 10px;
  margin: 0 auto;
  width: 980px;
  height: auto;
  overflow: auto;
}

header {
  font-size: 0.75rem;
  width: 100%;
  min-width: 980px;
  height: 82px;
  background-color: #3b5998;
  border-bottom: 1px solid rgb(29, 42, 91);
}

header .logo {
  font-size: 2.6rem;
  color: white;
  font-family: 'Muli';
  display: inline-block;
  float: left;
  margin-top: 10px;
  transition: all 0.35s ease;
  cursor: pointer;
  z-index: 9999;
}

header .logo:hover {
  transform: scale(0.95);
}

header .login {
  color: #FFF;
  display: inline-block;
  float: right;
  width: 399px;
}

.login .email, .login .password, .login button {
  display: inline-block;
  right: 0;
  vertical-align: top;
  float: right;
}

.login .email, .login .password {
  width: 150px;
  margin-right: 20px;
}

.login .email input, .login .password input {
  width: 100%;
  box-sizing: border-box;
  padding: 3px;
  height: 24px;
}

.login .password a {
  color: rgb(156, 180, 216);
}

.login button {
  letter-spacing: 0.025rem;
  font-size: 0.70rem;
  font-weight: bold;
  margin-top: 22px;
  color: #FFF;
  background-color: #4267b2;
  border: 1px solid #29487d;
  width: 50px;
  height: 22px;
  padding-bottom: 2px;
}
