body {
  background-color: #edf0f5;
}

.main {
  width: 100%;
  height: auto;
  color: #333;
}

.col-left, .col-right {
  margin-top: 50px;
  display: inline-block;
  float: left;
}

.col-left {
  width: 60%;
}
.col-right {
  width: 40%;
}

.col-left h3 {
  font-size: 2.2rem;
  margin-bottom: 50px;
}

.feature {
  margin-bottom: 50px;
}

.feature img {
  width: 50px;
  height: auto;
  display: inline-block;
  vertical-align: middle;
}

.feature p {
  display: inline-block;
  vertical-align: middle;
}

.feature p span {
  margin-left: 20px;
  margin-right: 10px;
  font-weight: bolder;
}
